.firstsection {
    
    background-image: url("bg image.jpg");
  
    
    min-height: 500px; 
  
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.background {
    background: white;
    background-blend-mode: darken;
    background-size: cover;
}
.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 80px;
    border-radius: 50px;
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a {
    text-decoration:none ;
    color: rgb(204, 135, 7);
}
.nav-list li a:hover {
    color: grey;
}
.rightnav {
    width: 30%;
    padding-right: 10px;
    text-align: right;
}
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(204, 135, 7);
    border-radius: 9px;
}
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid rgb(204, 135, 7);
    border-radius: 8px;
    background: none;
    color: rgb(204, 135, 7);
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.signup {
    padding: 26px 30px;
  }
  .signup a{
    text-decoration:none ;
    color: rgb(204, 135, 7);
  }
  .signup a:hover {
    color: grey;
}
h1.text-big {
    font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 50px;

}
.text-small {
    padding-top: 350px;
    font-size: 25px;
    color: rgb(226, 226, 226);
    text-shadow: 2px 2px rgb(41, 41, 41);
}

.secondsection{
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  flex-wrap: wrap;
    top: 0;
}
.box-main {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.universities{
    list-style: none;
    padding: 26px 30px;
}
.l {
    background-color: aliceblue;
    border: rgb(204, 135, 7);
}